@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Raleway:wght@500;700&family=Roboto:wght@100;300;400;500;700;900&family=Varela&family=Varela+Round&display=swap');

:root{
  --skin-color:#fb839e;
  --bg-black-900:#000000;
  --bg-black-100:#dddddd;
  --bg-black-50: #eff0f4;
  --text-black-900:#000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow:3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;


}
.pf__body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.pf__outer_shadow{
  box-shadow: var(--outer-shadow);
}
.pf__inner_shadow{
  box-shadow: var(--inner-shadow);
}
.pf__hover_in_shadow{
  position: relative;
  z-index: 1;
}
.pf__hover_in_shadow:hover{
  box-shadow: var(--outer-shadow-0);
}

.pf__hover_in_shadow:after{
  content: '';
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.pf__hover_in_shadow:hover:after{
  box-shadow: var(--inner-shadow);
}
.pf__header{

  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

}
:before,:after{
  box-sizing: border-box;
}

.pf__link{
  text-decoration: none;
  color: inherit;
}

.pf__ul{
  list-style: none;
  margin: 0;
  padding: 0;

}

.pf__img{
  vertical-align: middle;
  max-width: 100%;

}

.pf__container{
  max-width: 1140px;
  margin: auto;
}
 .pf__align_items_center{
   align-items: center;
 }

 .pf__btn1{
   padding: 10px 25px;
   font-size:16px;
   font-weight: 500;
   color:var(--skin-color);
   background-color: transparent;
   line-height: 1.5;
   cursor: pointer;
   border-radius: 30px;
   transition: all 0.3s ease;
   display: inline-block;
 }
 .pf__btn1:after{
   border-radius: 30px;
 }

 .pf__effect_wrap .pf__effect{
   position: absolute;
   z-index: -1;

 }
 .pf__effect1{
   width: 30px;
   height: 30px;
   border: 4px solid #8a49ff;
   right: 10%;
   bottom: 10%;
   animation: spin 10s linear infinite;
 }
 .pf__effect2{
   left: 3%;
   bottom: 20%;
   width: 40px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   animation: topBounce 3s ease-in-out infinite;
 }
 .pf__effect2 div{
   height: 3px;
   width: 3px;
   background-color: #ff9c07;
   margin: 0 3px 8px;

 }

 .pf__effect3{
   height: 180px;
   width: 180px;
   border:25px solid var(--skin-color);
   border-radius: 50%;
   left: 50%;
   top:-120px;
   animation: leftBounce 3s ease-in-out infinite;
 }

 .pf__effect4{
   border-top: 30px solid transparent;
   border-left: 30px solid #06d79c;
   left: 30%;
   top:20%;
   animation: spin 15s linear infinite;
 }

 .pf__effect4:before{
   content: '';
   border-top: 30px solid transparent;
   border-left: 30px solid #06d79c;
   position: absolute;
   opacity: 0.5;
   left: -35px;
   top:-25px;
 }
 .pf__effect5{
   height: 50px;
   width: 50px;
   right: 10%;
   top:30%;
   display: flex;
   justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
 }
 .pf__effect5 div{
   width: 1px;
   background-color: #4dd0e1;

 }

 @keyframes  spin{
   0%{
     transform:rotate(0deg);
   }
   100%{
     transform: rotate(360deg);
   }
 }

 @keyframes topBounce {
   0%,100%{
     transform: translateY(0);
   }
   50%{
     transform: translateY(25px);
   }
 }

 @keyframes leftBounce {
   0%,100%{
     transform: translateX(0);
   }
   50%{
     transform: translateX(25px);
   }
 }
 .pf__section_title{
   padding: 0 15px;
   flex:0 0 100%;
   max-width: 100%;
   text-align: center;
   margin-bottom: 60px;
 }
 .pf__section_title h2{
   display: inline-block;
   font-size: 30px;
   font-weight: 700;
   color:var(--text-black-900);
   text-transform: uppercase;
   margin: 0;

 }

 .pf__section_title h2:before{
   content: attr(data-heading);
   display: block;
   font-size: 16px;
   font-weight: 600;
   color:var(--skin-color);
 }
/* ---------------------------------------------------------------
header section
------------------------------------------------------------------*/
.pf__header{

  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  z-index: 99;
}

.pf__logo{
  display: inline-block;
  text-align: center;
  line-height: 36px;
  height: 40px;
  width: 40px;
  font-size: 24px;
  color:var(--skin-color);
  border-radius: 50%;
  border: 2px solid var(--skin-color);
  font-weight: 600;
  text-transform: uppercase;
}

.pf__hamburger_btn{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.pf__hamburger_btn:after{
  border-radius: 50%;
}

.pf__hamburger_btn span{
  display: block;
  height: 2px;
  width: 16px;
  background-color: var(--bg-black-900);
  position: relative;
}

.pf__hamburger_btn span:before,
.pf__hamburger_btn span:after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-black-900);
}

.pf__hamburger_btn span:before{
  top:-6px;
}

.pf__hamburger_btn span:after{
  top:6px;
}

.pf__row{
  display: flex;
  flex-wrap: wrap;

}
.pf__justify_content_between{
  justify-content: space-between;
}

.pf__nav_menu{
  position: fixed;
  background-color: var(--bg-black-50);
  padding:0 15px;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}
.pf__close_nav_menu{
  height: 40px;
  width: 40px;
  display: block;
  font-size: 35px;
  line-height: 35px;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top:15px;
  cursor: pointer;
  text-align: center;
  color: var(--text-black-600);
  transition: all 0.3s ease;
}
.pf__close_nav_menu:after{
  border-radius: 50%;
}
.pf__nav_menu_inner{

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf__nav_menu ul{
  padding: 15px;

}

.pf__nav_menu ul li{
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.pf__nav_menu ul li:last-child{
  margin-bottom: 0;
}

.pf__nav_menu ul li a{
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color:var(--text-black-700);
  padding: 5px 30px;
  text-transform: capitalize;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.pf__nav_menu ul li a.pf_active{
  color: var(--skin-color);
}

.pf__nav_menu ul li a:after{
  border-radius: 30px;
}

.pf__copyright_text{
  position: absolute;

  top:50%;
  font-size: 15px;
  color:var(--text-black-600);
  transform: translateY(-50%) rotate(-90deg);
  left: -60px;

}

/* home sectoin */
.pf__home_section{
  position: relative;
}

.pf__home_section .pf__full_screen{
  padding: 50px 0;
  min-height: 100vh;
}

.pf__home_section .pf__home_text,
.pf__home_section .pf__home_img{
flex:0 0 50%;
max-width: 50%;
padding: 0 15px;

}

.pf__home_section .pf__home_text p{
  color:var(--text-black-300);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}
.pf__home_section .pf__home_text h2{
font-size: 45px;
font-weight: 700;
color:var(--text-black-900);
margin: 0;
}
.pf__home_section .pf__home_text h1{
  font-size: 20px;
  font-weight: 500;
  color:var(--text-black-700);
  margin: 0;
  text-transform: capitalize;
}
.pf__home_section .pf__home_text .pf__btn1{
  margin-top: 30px;
}
  .pf__home_section .pf__home_img .pf__img_box{

    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;

  }

    .pf__home_section .pf__home_img .pf__img_box img{
      width: 100%;
      border-radius: 50%;
      border: 10px solid transparent;
    }

    /*------------------------------------------------------------------
     About section
     -------------------------------------------------------------------- */

     .pf__about_section{
       padding: 80px 0 0px;
       min-height: 100vh;
     }

     .pf__about_section .pf__about_img{

       flex: 0 0 40%;
       max-width: 40%;
       padding: 0 15px;

     }
     .pf__about_section .pf__about_img .pf__img_box{
       padding: 15px;
     }

     .pf__about_section .pf__about_img .pf__img_box img{
       width: 100%;
       border: 10px solid transparent;
       border-radius: 5px;
     }
.pf__about_section .pf__about_img .pf__social_links{
  margin-top: 20px;
  text-align: center;
}
.pf__about_section .pf__about_img .pf__social_links a{
  display: inline-block;
  align-self: center;
  height: 40px;
  width: 40px;
  font-size: 16px !important;
  text-align: center !important;

  color: var(--text-black-600);
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.pf__about_section .pf__about_img .pf__social_links a:after{
  border-radius: 50%;
}
.pf__about_section .pf__about_img .pf__social_links a:hover{
  color:var(--skin-color);
}
.pf__about_section .pf__about_img .pf__social_links a svg{
  line-height: 40px;
  margin-top: 7px;

}
      .pf__about_section .pf__about_info{

        padding: 0 15px;
        flex:0 0 60%;
        max-width: 60%;
      }

        .pf__about_section .pf__about_info p{
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 15px;
            color:var(--text-black-600);
        }

          .pf__about_section .pf__about_info span{
            font-weight: 600;

          }
.pf__about_section .pf__about_info .pf__btn1{
  margin: 30px 20px 0 0 ;
}

.pf__about_section .pf__about_tabs{
  padding: 60px 15px 50px;
  flex:0 0 100%;
  max-width: 100%;
  text-align: center;
}
.pf__about_section .pf__about_tabs .pf__tab_item{
  display: inline-block;
  margin: 0 5px 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-size: 16px;
  color:var(--text-black-600);
  font-weight: 500;
  text-transform: capitalize;
}

.pf__about_section .pf__about_tabs .pf__tab_item:hover:not(.pf__active){
  opacity: 0.6;
}

.pf__about_section .pf__about_tabs .pf__tab_item.pf__active{
  color:var(--skin-color)
}

.pf__about_section .pf__tab_content{

  flex: 0 0 100%;
  max-width: 100%;
}
.pf__about_section .pf__skills{
  padding: 0 0 40px;
}
.pf__about_section .pf__skills .pf__skill_item{
flex: 0 0 50%;
max-width: 50%;
padding: 0 15px;
margin-bottom:40px;
}

.pf__about_section .pf__skills .pf__skill_item p{
  font-size: 16px;
  color: var(--text-black-600);
  text-transform: capitalize;
  margin:0 0 10px;
}

.pf__about_section .pf__skills .pf__skill_item .pf__progress{
  height: 20px;
  border-radius: 10px;
  position: relative;

}
.pf__about_section .pf__skills .pf__skill_item .pf__progress_bar{
  background-color: var(--text-black-600);
  height: 6px;
  left: 7px;
  top:7px;
  position: absolute;
  border-radius: 10px;
}
.pf__about_section .pf__skills .pf__skill_item .pf__progress_bar span{
  /* display: none; */
  position: absolute;
  right: 0;
  top:0;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-black-600);
  margin-top:-40px;
}

.pf__about_section .pf__experience{
  padding-bottom: 80px;
}

.pf__about_section .pf__timeline{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.pf__about_section .pf__timeline:before{
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--bg-black-100);
    position: absolute;
    left: 50%;
    top:0;

}

.pf__about_section .pf__timeline .pf__timeline_item{
flex:0 0 100%;
max-width: 100%;
padding: 0 15px;
}
.pf__about_section .pf__timeline .pf__timeline_item:nth-child(odd){
  padding-right: calc(50% + 50px);
  text-align: right;
}

.pf__about_section .pf__timeline .pf__timeline_item:nth-child(even){
  padding-left: calc(50% + 50px);
}

.pf__about_section .pf__timeline .pf__timeline_item_inner{
  padding: 30px;
  border-radius: 5px;
  position: relative;
}
.pf__about_section .pf__timeline .pf__timeline_item_inner:before{
  content: '';
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: var(--bg-black-100);
  top:37px;
  z-index: -1;
}

.pf__about_section .pf__timeline .pf__timeline_item:nth-child(odd) .pf__timeline_item_inner:before{
right: -30px;

}

.pf__about_section .pf__timeline .pf__timeline_item:nth-child(even) .pf__timeline_item_inner:before{
left: -30px;

}

.pf__about_section .pf__timeline .pf__timeline_item_inner .pf__icon{
  height: 40px;
  width: 40px;
  /* background-color: red; */
  border: 1px solid var(--bg-black-100);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  position: absolute;
  font-size: 16px;
  color: var(--skin-color);
  top:18px;
}
.pf__about_section .pf__timeline .pf__timeline_item_inner .pf__icon svg{
  margin-top:5px;
}

.pf__about_section .pf__timeline .pf__timeline_item:nth-child(odd) .pf__icon{
  right: -70px;
}

.pf__about_section .pf__timeline .pf__timeline_item:nth-child(even) .pf__icon{
  left: -70px;
}

.pf__about_section .pf__timeline .pf__timeline_item_inner span{
  font-weight: 500;
  color: var(--skin-color);
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.pf__about_section .pf__timeline .pf__timeline_item_inner h3{
  font-size: 20px;
  color:var(--text-black-700);
  font-weight: 600;
  margin: 0 0 5px;
  text-transform: capitalize;
}

.pf__about_section .pf__timeline .pf__timeline_item_inner h4{
  font-size: 16px;
  font-style: italic;
  color: var(--text-black-600);
  margin: 0;
}

.pf__about_section .pf__timeline .pf__timeline_item_inner p{
  font-size: 16px;
  color:var(--text-black-600);
  line-height: 26px;
  margin: 15px 0 0;
}
