.CalenderHeader__wrapper{
  padding: 5px 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.CalenderHeader__logo{

    height: 40px;
    width: 40px;
    object-fit: contain;
    border: 3px solid var(--color-main);
    border-radius: 50%;
    padding: 5px;
    margin: 0 10px;
    vertical-align: center;
    animation: spin 5s infinite;

}

.CalenderHeader__heading{
  margin: 10px;
  font-size: 15px;
  color: gray;
  font-weight: 500;

}


.CalenderHeader__button{
  border-radius: 50%;
  padding: 5px 10px;
  margin: 10px;
}

.CalenderHeader__button2 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
