
.social2__main{
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin-top: 50px;

}

.social2__mainWrapper{
  width:70%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 30px;
}

.social2__left-col{
  display: flex;
  flex-direction: column;

}

.social2__link{
  text-decoration: none !important;
  color: inherit !important;
}


.social2__right-col{
  padding: 20px;
}

.social2__profile-card{
  width:fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}

.social2__profile-card .social2__profile-pic{
  flex:0 0 auto;
  padding: 0;
  background: none;
   width: 40px;
   height: 40px;
  margin-right: 10px;
}

.social2__profile-card:first-child .social2__profile-pic{
  width: 70px;
  height: 70px;

}

.social2__profile-card .social2__profile-pic{
  border:none;
}
.social2__profile-card .social2__username{
  font-weight: 500;
  font-size: 14px;
  color:#000;

}

.social2__sub-text{
color:rgba(0,0,0,0.5);
font-size: 12px;
font-weight: 500;
margin-top: 5px;
}

.social2__action-btn{
  font-weight: 700;
  font-size: 12px;
}

.social2__suggestion-text{
  font-size:14px;
  color: rgba(0,0,0,0.5);
  font-weight: 700;
  margin: 20px 0;
}


.social2__no_post_title{
  text-align: center;
}

@media(max-width:1100px){
  .social2__right-col, .social2__search-box{
    display: none;
  }

  .social2__nav-wrapper,
  .social2__mainWrapper{
    width: 90%;
  }
  .social2__mainWrapper{
    display: block;
  }
}

@media(max-width: 500px){
  .social2__nav-items .social2__icon{
    margin:0 5px;
  }
  .social2__post-image{
    height: 300px;
  }
}
