.index-body{
  margin: 0;
  padding: 0;
  background: #eee;
  min-height: 100vh;
}

.index-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;


}

.index-box1{
  width: 200px;
  height: 200Px;
  background-color: white;
  margin: 10px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  transition: .2s;
}

.index-box1:hover{
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 58%);
  cursor: pointer;
}

.index-box1_title{
  color: #0000ff96;
font-size: 18px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;

}
#theme{
  display: none;
}
#theme:checked ~ .index-body{
  filter: invert(1);

}
