
.social2__index_card{
  margin: 10px;
  margin-bottom: 20px;
}
.index__card_wrapper{
  display: flex;
  flex-wrap: wrap;
  background-color: #4158D0;
  background-image: linear-gradient(315deg, #4158D0 0%, #C850C0 22%, #5fafc2 40%, #3bb861 58%, #1c1ec6 84%);

   min-height: 100vh;
   background-size: 300% 300%;
     animation: gradient 15s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
