:root{
  --orange:#ff7800;
  --blue:#2451af;
  --light-blue:#2451af6b;
  --black:#130f40;
  --white:#fff;
  --light-color:#66666647;
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.2rem solid rgba(0,0,0,.1);
  --outline:.1rem solid rgba(0,0,0,.1);
  --outline-hover:.2rem solid var(--black);
}

.social2__headerWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  /* overflow: hidden; */
  /* position: fixed; */

}
.social2__navbar{
  position: fixed;
  top:0;
  /* left: 0; */
  width:90%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: center;
  padding: 5px 0;

  z-index: 1;
}
.social2__nav-wrapper{
  width: 70%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.social2__brand-img{

  margin-top: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--white);
  object-fit: contain;
  box-shadow: var(--box-shadow)
}
.social2__brand-wrapper{
  display: flex;
  align-items: center;
  height: 100%;
}

.social2_logoText{
  font-size: 1rem;
  font-weight: bolder;
  color: var(--blue);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  padding: 0 10px;
}

@media (max-width:768px){
  .social2__nav-wrapper{
    flex-direction: column;

  }
.social2__brand-img{
  height: 30px;
  width: 30px;
}
.social2_logoText{
  font-size: .7rem;}

}
