.social2__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.social2__nav-items{
  height: 22px;
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.social2__nav-items svg{
  height: 100%;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}
.social2__nav-items svg:hover{
  color:var(--blue)
}




.social2__dropdown{
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
}

.social2__dropdown-content{
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* margin-left: -117px; */
  z-index: 1;
}

.social2__adjust_avatar{
  margin-bottom: 5px;
  padding: .5rem .5rem;
}
.social2__perent_fevorite{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social2__children_fevorite{
  font-size: 12px;
  /* top: 16px; */
  position: absolute;
  /* left: 49px; */
  top:45%;
  left:50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;

}
@media(max-width: 1100px){
  .social2__dropdown-content{

    margin-left: -117px;

  }

}

.social2__dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.social2__dropdown-content-theme{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.social2__dropdown-content-theme:hover{
  background-color: #ddd;
  cursor: pointer;
}
.social2__translate_notification{
transform: translate3d(-114px, 40px, 0px) !important;
}
/* #theme:checked ~ .index-body,.social2__homepage-body{
  filter: invert(1);

} */

/* Change color of dropdown links on hover */
.social2__dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.social2__dropdown:hover .social2__dropdown-content {display: block;}

@media (max-width:768px){
  .social2__nav-items{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 10px #ddd;
    background: #ffffffc7;
    height: 45px;
    z-index: 2;
  }
  .social2__menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 15px 0;
  }
  .social2__menu a span svg{
    padding: 10px 0;
    /* font-size: 20px; */
  }
  .social2__dropdown{
    margin: 10px 0;
  }


    .social2__menu:last-child{
      margin-left: 10px;
    }

  .social2__dropdown-content{
    bottom: 100%;
    top:auto;
  }

  .social2__translate_notification{
  transform: translate3d(-149px, -492px, 0px) !important;
  }
}
