.social2__dropdown{
  position: relative;
}
.sociall2__comment_dropdown_item{
  cursor: pointer;
}
.sociall2__comment_dropdown_item:hover{
  background-color: #ddd;

}
.social2__comment_dropdown_style{
  transform: translate3d(-147px, -80px, 0px) !important;
}
