.adminEditButton{
  cursor: pointer !important;

}
.admin__profileOnveiw-content01 {
    /* max-width: 464px; */
    width: 84%;
    background: var(--bg);
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    border: 1px solid var(--color-main);
}

.pe-cal__wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
