.social2__follow_btn{
  flex:2;
  font-size: 14px;
  padding: 10px 0;
  color: var(--blue);
  border: 1px solid var(--blue);
  cursor: pointer;
  transition: .4s;

}
.social2__follow_btn:hover{
  background: var(--blue);
  border: 1px solid var(--white);
  color: var(--white);
}


.social2__unfollow_btn{
  flex:2;
  font-size: 14px;
  padding: 10px 0;
  color: red;
  border: 1px solid red;
  cursor: pointer;
  transition: .4s;
  max-width: 100px;

}
.social2__unfollow_btn:hover{
  background: red;
  border: 1px solid red;
  color: var(--white);
}
