.admin__his-tick line{

    stroke: var(--color-main-light2);
}

.admin__his-tick text{
  fill:var(--color-main);
  font-size: 12px;
  /* fill : red; */
}
.admin__his-marks{
  fill: #137880;
}

.admin__mig-marks rect{
  fill: #137880;
}
