@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
  --color-main:#396aff;
  --bg: #fbfefd;
  --bg2:#dce5ff;
  --main-accent:#e9eefd;
  --main-text:#4b5876;
  --shadow: rgba(17,17,26,0.1) 2px 2px 16px;


}

.admin__body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background-color: var(--bg);
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  list-style-type: none;
  /* position: relative; */
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

#admin__menu-toggle{
  display: none;
}
.admin__img{
  width: 100%;
  height: auto;
  border-radius: 50%;

}



.admin__main-content {
  margin-left: 345px;
  width: calc(100vw - 345px);
  padding: 1rem 1.2rem;
}

.admin__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
}

.admin__header-title-wrapper{
  display: flex;


}

.admin__header-title-wrapper label{
  display: inline-block;
  color: var(--color-main);
  margin-right: 2rem;
  font-size: 1.8rem;
}

.admin__header-title h1{
color:var(--main-text);
font-weight: 600;

}

.admin__header-title p{
color: #666;
font-size: .9rem;

}

.admin__header-title p span{
  color:red;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: .5rem;
}

.admin__header-action button{
  padding: .85rem 2rem;
  font-size: 1rem;
}
.admin__main{
padding-top: 3rem;

}


/*------------------------------analytics------------------------------*/
.admin__analytics{
  /* margin-top: 3rem; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 2rem 2rem;
  box-shadow: var(--shadow); */
  /* padding:1.5rem; */
  grid-gap: 0rem 2rem;
}

.admin__analytic{
  box-shadow: var(--shadow);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  padding-left: 2rem;
}

.admin__analytic:first-child .admin__analytic-icon{
   background: #dce5ff;
   color: #6883db;
}
.admin__analytic:nth-child(2) .admin__analytic-icon{
   background: #ebf7f5;
   color: red;
}

.admin__analytic:nth-child(3) .admin__analytic-icon{
   background: #ebf7f5;
   color: #2ec3a3;
}

.admin__analytic:nth-child(4) .admin__analytic-icon{
   background: var(--main-accent);
   color: var(--color-main);
}
.admin__analytic-info h4{
  font-weight: 500;
  color:#555;
  font-size: .98rem;
}

.admin__analytic-info h1{

color: var(--main-text);
font-weight: 600;
font-size: 2rem;

}

.admin__analytic-info h1 small{
  font-size: .8rem;
  font-weight: 700;
}

.admin__text-danger{
  color:red;
}

.admin__text-success{
  color:#2ec3a3;
}

.admin__analytic-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items:center;
  margin-right: .5rem;
}

.admin__accent-main{

}
