.social2__usercard-wrapper{
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  transition: .4s;
  justify-content: space-between;
  /* background: #fff; */

}
.social2__usercard-wrapper:hover{
  /* background: #2451af40; */
}
.social2__usercard-name{
  margin-left: 1rem;
  transform: translateY(-2px);
}
.social2__usercard-username{
display: block;

}

.social2__usercard-fullname{
/* opacity: 0.7; */
color: rgba(0,0,0,0.5);
font-size: 12px;
font-weight: 500;
margin-top: 5px;
}

.social2__usercard_link{
  display: flex;
  align-items: center;
}

.social2__usercard_left{
margin-right: 15px;
}
