
.slider2{
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  background: #070716;
  perspective: 1000px;
  transform-style: preserve-3d;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  zoom:0.25;

}






.social2__spin_image img{

  transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
   width: 100%;
   height: 100%;
   line-height: 200px;
   text-align: center;
   box-shadow: 0 0 8px #fff;
   -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0005);
}

.social2__spin_image img:hover{
  cursor: pointer;
  box-shadow: 0 0 15px #fffd;
  -webkit-box-reflect: below 10px linear-gradient(transparent,transparent,#0007);
}




@keyframes spin{
  from {
    transform: rotateY(0deg);

  }
  to {
    transform: rotateY(360deg);

  }
}

@keyframes spinRevert{
  from {
    transform: rotateY(360deg);

  }
  to {
    transform: rotateY(0deg);

  }
}


  @media (max-width:2560px){
    /* #slider2__spin{

      left: 153%;
        top: 20%;
    } */

    }

    /* @media (max-width:1849px){
      #slider2__spin{

        left: 430%;
          top: 20%;
      }

      }


    @media (max-width:1271px){
      #slider2__spin{

        left: 300%;
          top: 20%;
      }

      }
      @media (max-width:1440px){
        #slider2__spin{

          left: 327%;
            top: 20%;
        }

        }
  @media (max-width:1024px){
    #slider2__spin{

      left: 223%;
        top: 35%;
    }

    }

    @media (max-width:768px){
      #slider2__spin{

        left: 206%;
        top: 30%;
        zoom: 0.8;
      }

      }

      @media (max-width:425px){
        #slider2__spin{

          left: 224%;
          top: 36%;
          zoom: 0.4;
        }

        }

        @media (max-width:320px){
          #slider2__spin{

            left: 161%;
            top: 36%;
            zoom: 0.4;
          }

          } */


.index-box1{
  width: 200px;
  height: 200px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  transition: .2s;
}

.index-box1:hover{
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 58%);

}

.index-box1_title{
  color: #0000ff96;
font-size: 18px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;

}

.index-box2{
  width: 200px;
  height: 200px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  transition: .2s;
}

.index-box2:hover{
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 58%);

}

.index-box2_title{
  color: #0000ff96;
font-size: 18px;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;

}

.social2__brand_img{

  margin-top: -5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--white);
  object-fit: contain;
  box-shadow: var(--box-shadow)
}

.social2__brand_wrapper{
  display: flex;
  align-items: center;
  padding: 5px;
}

.social2_logoText1{
  font-size: 1rem;
  font-weight: bolder;
  color: var(--blue);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  padding:  10px;
  cursor: pointer;
  transition: 0.4s linear;
}

.index__card_wrapper{
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}

.social2__click_btn{
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social2__click_btn button{
  padding: 10px;
    border: solid 1px #2451af;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 0.1rem 0.2rem 1rem rgb(36 81 175 / 24%);
    transition: .4s ease;
    color:#000000a6 !important;

}

.social2__click_btn:hover button{
  background: #2451af;
  color:white !important;
}
