.admin__revenue-card-apply{
  min-width: 240px;
  width: 100%;
  padding: 0 10px;
  height: 385px;
}
@media only screen and (max-width: 735px){
  .admin__revenue-card-apply{
    width: 100%;
  }

}
@media only screen and (max-width: 510px){
  .admin__revenue-card-apply{
    width: 100%;
  }

}

.admin__revenue-card-apply-avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 15px auto;
    border: 2px solid var(--color-main);
    cursor: pointer;
}

.admin__revenue-card-apply-avatarimg  {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.admin__rev-content-apply {
    background: var(--bg2);
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

/* .admin__rev-content-apply img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    margin: 1.5rem 0rem;
} */

.admin__rev-info-apply {
    margin-bottom: 1rem;
}

.admin__rev-info-apply h3 {
    font-size: 18px;
}

.admin__rev-info-apply h1 {
    font-weight: 600;
    color: var(--main-text);
}

.admin__rev-info-apply h1 {
    font-size: 1rem;
    margin-top: .2rem;
    color: var(--normal-text);
}

.admin__rev-info-apply h1 small {
    font-size: 80%;
    font-weight: 400;
}


.admin__rev-sum-apply {
    background: var(--bg);
    border: 1px solid var(--color-main);
    padding: .5rem;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 5px;
}

.admin__rev-sum-apply:hover{
  border:1px solid #00ffa4;
  background: #137880 ;
}

.admin__rev-sum-apply h4 {
    font-size: 1rem;
    color: var(--normal-text);
    font-weight: 400;
    margin-bottom: .5rem;
}

.admin__rev-sum-apply h2 {
    font-weight: 600;
    color: var(--main-text);
    font-size: 1.7rem;
}



/* sturctur css */

.admin__main-application{
  height: 100%;
  display: grid;
  align-items: center;
  /* min-width: 100vw; */
  /* background: #1160a47a; */
}

.admin__graph-content_apply {
    border-radius: 12px;
    box-shadow: var(--shadow);
    padding: 1rem;
    /* background: var(--bg2); */
    width: 25rem;
}

.admin__graph-board_apply {
    width: 89rem;
}


.admin__app_tree{
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}

/* .admin__app_tree::-webkit-scrollbar{
  width: 6px;
}
.admin__app_tree::::-webkit-scrollbar-track{
  background: #f1f1f1;
}
.admin__app_tree::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 10px;
}
  .admin__app_tree::::-webkit-scrollbar-thumb:hover{
  background: var(--normal-text);
} */

.admin__app_tree .ul{

  padding-top: 20px;
  position: relative;
  transition: .5s;

}


.admin__app_tree .li{

  display: inline-table;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 10px;
  width: auto;
  transition: .5s;

}

.admin__app_tree .li:before, .admin__app_tree .li:after{
  content: '';
  position:absolute;
  top:0;
  right: 50%;
  border-top: 1px solid var(--main-text);
  width: 51%;
  height: 10px;
}

.admin__app_tree .li:after{
  right: auto;
  left:50%;
  border-left: 1px solid var(--main-text);
}

.admin__app_tree .li:only-child:after, .admin__app_tree .li:only-child:before{
  display: none;

}

.admin__app_tree .li:only-child{
  padding-top: 0;

}


.admin__app_tree .li:first-child:before, .admin__app_tree .li:last-child:after{
  border:0 none;
}

.admin__app_tree .li:last-child:before{
  border-right: 1px solid var(--main-text);
  border-radius: 0px 5px 0px 0px;
}

.admin__app_tree .li:first-child:after{

  border-radius: 5px 0px 0px 0px;
}

.admin__app_tree .ul .ul:before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 1px solid var(--main-text);
  width: 0;
  height: 20px;
}

.admin__app_tree nav{
  border:1px solid var(--main-text);
  padding: 10px;
  display: inline-grid;
  border-radius: 5px;
  text-decoration-line: none;
  border-radius: 5px;
  transition: .5s;
    background: var(--bg2);

}

.admin__app_tree nav img{
  width: 50px;
  height: 50px;
  margin-bottom: 10px !important;
  border-radius: 100px;
  margin: auto;
}

.admin__app_tree nav span{
  border: 1px solid var(--main-text);
  border-radius: 5px;
  color: var(--normal-text);
  padding: 8px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}

.AdminStructure__company-mainItem h3{
  font-size: 18px;
}

.AdminStructure__a-first{
  width: 400px;



}
.AdminStructure__company-mainItem h3{
  color: var(--color-main);
}
.AdminStructure__company-mainItem h3 span{
  color: #00ffa4;
  border: none;
  pointer-events: none;
}

/* hover section */

.admin__app_tree .li nav:hover, .admin__app_tree .li nav:hover img, .admin__app_tree .li nav:hover .AdminStructure__hoverSpan, .admin__app_tree .li nav:hover+.ul .li nav {
  background: #137880;
  color: var(--normal-text);
  border:1px solid #00ffa4;
  box-shadow:0px 0px 8px -5px #5f5f5f;
}

.admin__app_tree li a:hover+ul li:after, .admin__app_tree li a:hover+ul li:before, .admin__app_tree li a:hover+ul:before, .admin__app_tree li a:hover+ul ul:before{
  /* background-color: #94a0b4; */
}

.admin__structural-back-btn{
  margin: 0 10px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--normal-text);
  border: 1px solid var(--color-main);
  background: var(--bg);
  width: 100px;
  transition: .5s;
}

.admin__structural-back-btn:hover{
  border:1px solid #00ffa4;
  background: #137880 ;
}



.test__box {
  display: inline-block;
  background: linear-gradient(25deg, #F13F79, #FFC778);
  color: white;
  font-size: 25px;
  padding: 40px;
  width: 300px;
  height: 300px;
  margin: 30px;
}

.admin__stucture_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #FFF;
  border: 1px solid #005bac;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #005bac;
  padding: 15px;
  position: fixed;
  text-align: center;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
	transition: all 0.3s ease;
  z-index: 1;
}
.admin__stucture_btn:hover {
  background: #eef;
}

.admin__stucture_btn-zoom {
  bottom: 190px;
}

.admin__stucture_btn-zoom-out {
  bottom: 120px;
}
.admin__stucture_btn-zoom-init {
  bottom: 50px;
}
