.smallcalender__wrapper{
  margin-top: 10px;
}
.smallCalender__header{
  display: flex;
  justify-content: space-between;
}
.smallCalender__p{
  color: gray;
    font-weight: 500;
    font-size: 12px;
    padding-top: 20px;
}

.smallCalender__buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallCalender__body{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  font-size: 12px;
}
.smallCalender__innerbody{
  font-size: 12px;
  padding: 3px 0;
  text-align: center;
}
.smallCalender__dayBacground{
  background-color: #137880 !important;
    border:1px solid #00ffa4 !important;
}

.smallCalender__dayBacground2{
  /* background-color: #137880 !important; */
    border:1px solid #00ff5c !important;
    color:#00ff5c !important
}
.smallCalender__dayBacground2:focus,
.smallCalender__dayBacground:focus,
.CalenderHeader__button2:focus,
.CalenderHeader__button3:focus,
.CalenderHeader__button:focus,
.calendercreateeventbutton__wrapper:focus
{
       outline: none;
     }
