:root {
  --primColor: #dcdcdc;
  --secoColor: #08f7c1;
  --cornerRad: 4px;
}

.admin__worning-update{
  color:red !important;
  /* font-weight: bolder !important; */
  font-size: inherit !important;
}

.admin__popup-sidemenu{
  transition: 0.4s ease-in-out;
  font-size: 20px;
  cursor: pointer;
}

.admin__popup-sidemenu:hover{
  font-weight: 600 !important;
  background: rgba(45, 136, 238, 0.05);


}

.courseImageReadMorePopUp{
  cursor: pointer;
  transition: 0.4s ease-in-out;

}

.courseImageReadMorePopUp:hover{
  text-decoration: underline;
}

.admin__hr_break{
  margin: 10px 0;
}

.admin__profileOnveiw-content33{


    width: 100%;
    background: var(--bg);
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    border: 1px solid var(--color-main);

    /* new code */
    max-width: 1125px;
    min-height: 1000px;

}

/* details {
  margin: 40px;
} */
summary {
  writing-mode: vertical-lr;
  text-align: center;
  position: absolute;
  top: 12px;
    left: 62px;
  /* padding: 12px 10px; */
  /* width: 100%; */
  height: 17px;
  /* background-color: var(--primColor); */
  /* border: 2px solid var(--secoColor); */
  border-radius: var(--cornerRad);
  color: var(--secoColor);
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
}
summary::before,
summary::after {
  position: static;
  top: 0;
  left: 0;
}
summary::before {
  content: "";
}
summary::after {
  content: "III";
  letter-spacing: -1px;
}
/* summary:hover {
  transform: scale(1.1);
} */
summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .admin__rel_sidebar_menu {
  animation-name: menuAnim;
}
details[open] summary::before {
  content: "X";
}
details[open] summary::after {
  content: "";
}
.admin__rel_sidebar_menu {
  height: 0;
  width:100%;
  border-radius: var(--cornerRad);
  /* background-color: var(--primColor); */
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  overflow-y:scroll;
  animation: closeMenu 300ms ease-in-out forwards;
}
.admin__rel_sidebar_menu a {
  /* padding: 12px 24px; */
  /* margin: 0 16px; */
  color: var(--secoColor);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  /* text-align: center; */
  font-weight: 300;
    font-size: 12px;
  transition: filter 200ms linear 0s;
}
.admin__rel_sidebar_menu a:nth-of-type(1) {
  padding-top: 24px;
}
.admin__rel_sidebar_menu a:nth-last-of-type(1) {
  border-bottom: none;
}
/* .admin__rel_sidebar_menu a:hover {
  filter: brightness(200%);
} */
details::before {
  content: "";
  color: var(--secoColor);
  position: absolute;
  margin-left: 80px;
  padding: 10px 10px;
  opacity: 0.4;
}
/* details[open]::before {
  animation: fadeMe 300ms linear forwards;
} */
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: 312px;
  }
}
@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
